
* {
    padding:0;
    margin:0;
    list-style:none;
}
a:hover,
a:visited,
a:link,
a:active {
    text-decoration:none;
}


.body-color {
    background-color: #222D32;
}
.panel-heading h3 {
    height:61px;
    line-height:61px;
    text-align:center;
}
.mt-150 {
    margin-top:150px;
}

html, body {
    height:100%;
}
.lt-aside {
 height:100%;
 width:180px;
 background-color: #222D32;
 position: fixed;
 top:0px;
 left:0px;
 z-index: 999;
 transition:all 1s;
}
.lt-aside.current {
    left:-180px;
}
.lt-aside .aside-header {
    height:50px;
    width:100%;
    background-color: #367FA9;
}
.lt-aside .aside-header p {
    line-height:50px;
    color:#fff;
}
.lt-aside .aside-user {
    padding-top:20px;
}
.lt-aside .aside-user img {
    width:80px;
    height:80px;
    border-radius:50px;
    display:block;
    margin:0 auto;
}
.lt-aside .aside-user span {
    color:#fff;
    line-height:40px;
    font-size: 20px;
}
.lt-aside .aside-nav a {
    color:#fff;
    display:block;
    height:40px;
    line-height:40px;
    width:100%;
    padding-left:40px;
}
.lt-aside .aside-nav .in {
    display:none;
}
.lt-aside .aside-nav .in a {
    padding-left:57px;
}





.it-main {
    height:1500px;
    width:100%;
    background-color: pink;
    padding-left:180px;
    padding-top:50px;
    transition:all 1s;
}
.it-main.current {
    padding-left:0px;
}
.it-main .it-topbar {
    height:50px;
    width:100%;
    background-color: #3C8DBC;
    position: fixed;
    top:0px;
    left:0px; 
    padding-left:180px;
    transition:all 1s;
}
.it-main .it-topbar.current {
    padding-left:0px;
}
.it-main .it-topbar i {
    height:50px;
    line-height:50px;
    text-align:center;
    width:50px;
    font-size: 20px;
    color:#fff;
}
.main-nav {
    margin-top:20px;
}

/* 模态框 */
.modal-body p {
    color: #A94442;
}



