<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <div class="lt-aside">
        <div class="aside-header"><p class="text-center">黑马19期</p></div>
        <div class="aside-user text-center">
            <img src="images/01.jpg" alt="">
            <span >超级管理员</span>
        </div>
        <div class="aside-nav">
            <!-- <a href="user.html">用户管理</a>
            <a href="category.html">分类管理</a>
            <a href="product.html">商品管理</a> -->
            <ul>
                <li>
                    <a href="user.html" class="current">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>用户管理</span>
                    </a>
                </li>
           
                <li>
                    <a href="javascript:;" class="list">
                        <i class="glyphicon glyphicon-th-list"></i>
                        <span>分类管理</span>
                    </a>
                    <div class="in" style="display:none">
                        <a href="first.html">一级分类</a>
                        <a href="second.html">二级分类</a>
                    </div>
                </li>
            
                <li>
                    <a href="product.html">
                        <i class="glyphicon glyphicon-tags"></i>
                        <span>商品管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="it-main">
        <div class="it-topbar">
            <i class="glyphicon glyphicon-align-justify pull-left icon-menu"></i>
            <i class="glyphicon glyphicon-log-out pull-right icon-logout" data-toggle="modal" data-target="#myModal"></i>
        </div>
        <div class="container-fluid">
            <div class="main-nav">
                    <ol class="breadcrumb">
                        <li class="active"><a href="#">管理系统</a></li>
                        <li >用户管理</li>
                    </ol>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>用户名</td>
                        <td>手机号</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>1</td>
                        <td>itcast</td>
                        <td>15102324243</td>
                        <td>正常</td>
                        <td>
                            <input type="button" value="禁用">
                        </td>
                    </tr> -->
                </tbody>
            </table>

            <div class="pull-right">
                 <ul id="pagintor"></ul>
            </div>
        </div>
    </div>




<!-- 退出模态框 -->
    <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                  <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                  <p><i class="glyphicon glyphicon-info-sign"></i>您确定要退出后台管理系统吗?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary out">退出</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->





<!-- 修改状态的模态框 -->
<div class="modal fade" id="amend">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
              <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
              <p><i class="glyphicon glyphicon-info-sign"></i>您确定执行此操作吗？</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary confirm">确认</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->




          <!-- 引擎模板 -->
    <script type="text/html" id="tmp">
        {{ each rows v i }}
        <tr>
            <td>{{ i + 1 + ( page -1) * size }}</td>
            <td>{{ v.username }}</td>
            <td>{{ v.mobile}}</td>
            <td>
                {{ v.isDelete === 1 ? '正常' : '禁用'}}
            </td>
            <td data-id="{{ v.id }}">
                {{ if v.isDelete === 1 }}
                <button class="btn btn-danger">禁用</button>
                {{ /if }}

                {{ if v.isDelete === 0}}
                <button class="btn btn-success">启用</button>
                {{ /if }}
            </td>
        {{ /each }}
    </script>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
    <script src="lib/nprogress/nprogress.js"></script>
    <script src="lib/artTemplate/template-web.js"></script>
    <script src="lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/user.js"></script>
  
</body>
</html>