.cart-item {
    padding:10px;
    height:110px;
    width:100%;
    
}
.mui-table-cell {
    display:block;
}
.cart-item .left-img {
 width:60px;
 height:90px;
 float:left;
}
.cart-item .left-img img {
   width:60px;
   height:60px;
}
.cart-item .right-info {
    height:110px;
    overflow: hidden;
    padding:0 10px;
}
.cart-item .right-info p.info {
    color:#000;
}
.cart-item .right-info p .nowPrice {
    color:red;
}
.cart-item .right-info p .oldPrice {
    text-decoration:line-through;
}

.lt-container {
   padding-bottom:85px;
}

.lt-order {
    background-color: #EEEEEE
    position: absolute;
    bottom:55px;
    width:100%;
}
.lt-order .order-left {
    height:30px;
    line-height:30px;
    color:red;
    font-size: 12px;
    padding-left:10px;
}
.lt-order .order-right {
    height:30px;
    line-height:30px;
    color:#fff;
    background-color: red;
    font-size: 12px;
    padding:0 10px;
}




.lt-size {
    padding:10px;
}
.lt-size span {
    width:25px;
    height:25px;
    line-height:25px;
    text-align:center;
    border:1px solid #ccc;
    font-size: 12px;
    display:inline-block;
    margin-bottom:4px;
}
.lt-size span.current {
    background-color: orange;
    color:#fff;
}


.lt-num {
    border-top:1px solid #ccc;
    padding:10px;
}
.lt-num .surplus {
    font-size: 12px;
}

.lt-describe {
    border-top:1px solid #ccc;
    padding:10px;
}