


.content {
    border:1px dashed red;
    margin:10px;
}
.content ul li{
    height:30px;
    line-height:30px;
    border-bottom:1px dashed red;
}
.content ul li:last-child{
    border-bottom:none;
}
.content ul li a {
    height:100%;
    padding:0 10px;
}
.content ul li i {
    line-height:30px;
}