.lt-search {
    padding:10px;
    position: relative;
}
.lt-search .search-input {
    border-radius: 5px;
    height:34px;
    margin:0;
    border:1px solid #007aff;
    font-size: 12px;
}
.lt-search .search-btn {
    position: absolute;
    top:10px;
    right:10px;
    border-radius: 0 5px 5px 0;
}


.lt-history .title {
    padding:10px;
    font-size: 12px;
    color:#666;
    height:30px;
    line-height:30px;
}



.content {
    border:1px dashed red;
    margin:10px;
}
.content ul li{
    height:30px;
    line-height:30px;
    border-bottom:1px dashed red;
}
.content ul li:last-child{
    border-bottom:none;
}
.content ul li a {
    height:100%;
    padding:0 10px;
}
.content ul li i {
    line-height:30px;
}